*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgb(255, 255, 255);

}
li{
    list-style: none;
    color: rgb(255, 153, 52);

}
a
{
    color: rgb(181, 93, 25);
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    color: rgb(255, 153, 52);
}
.name{
    font-size: 2rem;
    color: rgb(255, 153, 52);
}
.nav-link{
    transition: 0.8s ease;

}

.nav-link:hover{
    color: rgb(14, 14, 14);
}

#banner{
	background:  url(image/pic3.jpg);
	height: 40vh;
	background-size: cover;
	background-repeat: no-repeat;

}

.banner-text{
	text-align: center;
	padding-top: 100px;

}
.banner-text h1{
	font-size: 70px;
    color: rgb(255, 153, 52);

}
}
.banner-text p{
	font-size: 50px;
	font-style: italic;
    color: rgb(16, 16, 16);
    justify-content: center;
    align-items: center;
    display: flex;
    
	
}
.banner-image img{
    padding-top: 40px;
    position: center;
    height: 20vh;
   width: 20vh;
   initial-value: center;
}

.banner-image{
    width: 200vh;
    height: 100px;
    display: flex;
 margin-top: 50px;
   text-align: center;
       justify-content: space-between;
    
}


